@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*          1rem=10px */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Siemreap", sans-serif;
  font-size: 1.8rem;
}

:root {
  --text-light: #eee;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
span,
a {
  display: block;
}

h1,
h2 {
  font-size: 2rem;
}

header {
  display: none;
  background-color: #0c0c0c;
  padding: 1.3rem;
  /* 20px */
}
.container-width {
  /* max-width: 1224px; */
  max-width: 82%;
  margin: 0 auto;
}

.logo {
  width: 80px;
  height: 80px;
}
.nav-bar {
  display: none;
}
.mobile-nav {
  display: flex;
  height: 60px;
  padding: 0 1.3rem;
  background-color: rgb(19, 19, 19);
}
.bar {
  height: 100%;
  display: flex;
  place-items: center;
  /* width: 40%; */
  color: white;
}
.logo-mobile {
  height: 100%;
}
.logo-mobile img {
  height: 100%;
  width: 100%;
}
.menu-mobile {
  width: 55%;
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
}
.show-toggle {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  background-color: red;
  padding: 1rem;
  display: none;
}
.hero {
  display: none;
}
.slid {
  height: 300px;
  background-color: blue;
}

.img-mobile-slid {
  width: 100%;
  height: 100%;
}
.img-mobile-slid img {
  width: 100%;
  height: 100%;
}
.title-slid-mobile {
  position: absolute;
  bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: start;
  padding: 0 2rem;
}
.main-content {
  margin-top: 55px;
  position: relative;
}
.main-content::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: red;
  position: absolute;
}
.clip-main {
  width: 100px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: -50px;
  clip-path: polygon(0 0, 83% 0, 100% 100%, 0% 100%);
}

.main-content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 10px;
  height: 300px;
  overflow-x: scroll;
}
.top-main-section-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  gap: 1rem;
  overflow-x: scroll;
  height: 250px;
  /* background-color: red; */
}
.items-main {
  width: 100%;
  height: 100%;
  background-color: blue;
}
.img-main {
  width: 100%;
  height: 50%;
}
.img-main img {
  width: 100%;
  height: 100%;
}
.container-width {
  max-width: unset;
}

.bottom-main-section-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  gap: 1rem;
  overflow-x: scroll;
  height: 250px;
}
.bottom-items-main {
  width: 100%;
  height: 100%;
  background-color: blue;
}
.bottom-img-main {
  width: 100%;
  height: 50%;
}
.bottom-img-main img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  header {
    display: block;
  }
  .container-width {
    /* max-width: 1224px; */
    max-width: 85%;
    margin: 0 auto;
  }
  .nav-bar {
    background-color: #ff2f2f;
    height: 55px;
    display: block;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navigation {
    height: 100%;
  }
  .navigation ul {
    height: 100%;
    display: flex;
    /* gap: 1rem; */
    align-items: center;
  }
  .navigation ul li {
    /* background-color: aqua; */
    display: flex;
    place-items: center;
    height: 100%;
    padding: 0 1.3rem;
    color: whitesmoke;
    font-family: "Open Sans", "Bokor", sans-serif;
    font-size: 2.3rem;
  }
  .navigation ul li:first-child {
    background-color: rgba(213, 213, 213, 0.239);
  }
  .navigation ul li:hover {
    background-color: rgba(213, 213, 213, 0.239);
    cursor: pointer;
  }

  .mobile-nav {
    display: none;
  }
  .show-toggle {
    display: none;
  }

  .hero {
    background-color: red;
    height: 650px;
    /* margin: auto; */
    margin-top: 1.3rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto 30% 30%;
  }
  .hero-items {
    background-color: blue;

    position: relative;
    padding: 0 2rem;
  }
  .hero-padding {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .hero-padding:last-child {
    padding-bottom: 0;
  }
  .hero-padding div {
    background-color: yellow;
    width: 100%;
    height: 100%;
  }

  .bg-item-1 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/filenew/68c8ee2b16a58_1757998620_small.png");
    background-size: cover;
  }
  .bg-item-2 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c3e5e8839aa_1757668800_small.png");
    background-size: cover;
  }
  .bg-item-4 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c3d53b39744_1757664540_small.png");
    background-size: cover;
  }
  .bg-item-5 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c12cb3b869b_1757490300_small.png");
    background-size: cover;
  }
  .date {
    position: absolute;
    bottom: 1.3rem;
    font-weight: 500;
    color: var(--text-light);
  }
  .title {
    position: absolute;
    bottom: 5rem;
    font-weight: 700;
    color: var(--text-light);
    transition: all 0.5s ease-in-out;
  }
  .hero-items:hover .title {
    color: red;
    bottom: 11rem;
  }
  .sub-title {
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    font-size: 1.3rem;
    transition: all 0.5s ease-in-out;
  }
  .hero-items:hover .sub-title {
    color: white;
    bottom: 4.7rem;
    opacity: 100%;
  }
  .hero-items:hover {
    cursor: pointer;
    box-shadow: inset 0 -150px 120px rgba(5, 5, 5, 0.98);
  }
  .clip {
    width: 100px;
    height: 50px;
    background-color: red;
    position: absolute;
    left: 0;
    top: 10px;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  }
  .slid {
    display: none;
  }
  .main-content {
    background-color: whitesmoke;
    margin-top: 10rem;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 300px 400px;
    padding: 3rem;
    position: relative;
  }
  .top-main-section-grid {
    height: 100%;
    background-color: blue;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .items-main {
    height: 100%;
    background-color: aqua;
  }

  .img-main {
    width: 100%;
    height: 75%;
    /* background-color: red;  */
    transition: all 0.3s;
  }
  .img-main img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .title-main {
    height: 25%;
    width: 100%;
    overflow: hidden;
  }
  .items-main:hover img {
    transform: scale(0.99);
    cursor: pointer;
  }

  .bottom-main-section-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .bottom-items-main {
    overflow: hidden;
  }
  .bottom-img-main {
    width: 100%;
    height: 50%;
  }
  .bottom-img-main img {
    width: 100%;
    height: 100%;
  }
  .bottom-items-main:hover img {
    transform: scale(0.98);
    cursor: pointer;
  }
}
/* etec@22012 */

@media (min-width: 1024px) {
  .container-width {
    /* max-width: 1224px; */
    max-width: 82%;
    margin: unset auto;
  }
  .bottom-main-section-grid {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
    /* background-color: blue; */
  }
  .bottom-items-main {
    /* background-color: red; */
    height: 100%;
    overflow: hidden;
  }
  .bottom-img-main {
    height: 65%;
    width: 100%;
  }
  .bottom-img-main img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }
  .bottom-items-main:hover img {
    transform: scale(0.98);
    cursor: pointer;
  }
}
