@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*          1rem=10px */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Siemreap", sans-serif;
  font-size: 1.8rem;
}

:root {
  --text-light: #eee;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
span,
a {
  display: block;
}

h1,
h2 {
  font-size: 2rem;
}

header {
  display: none;
  background-color: #0c0c0c;
  padding: 1.3rem;
  /* 20px */
}
.container-width {
  /* max-width: 1224px; */
  max-width: 82%;
  margin: 0 auto;
}

.logo {
  width: 80px;
  height: 80px;
}
.nav-bar {
  display: none;
}
.mobile-nav {
  display: flex;
  height: 60px;
  padding: 0 1.3rem;
  background-color: aqua;
}
.bar {
  height: 100%;
  display: flex;
  place-items: center;
  /* width: 40%; */
}
.logo-mobile {
  height: 100%;
}
.logo-mobile img {
  height: 100%;
  width: 100%;
}
.menu-mobile {
  width: 55%;
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
}
.show-toggle {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  background-color: red;
  padding: 1rem;
}

@media (min-width: 768px) {
  header {
    display: block;
  }
  .container-width {
    /* max-width: 1224px; */
    max-width: 85%;
    margin: 0 auto;
  }
  .nav-bar {
    background-color: #ff2f2f;
    height: 55px;
    display: block;
  }
  .navigation {
    height: 100%;
  }
  .navigation ul {
    height: 100%;
    display: flex;
    /* gap: 1rem; */
    align-items: center;
  }
  .navigation ul li {
    /* background-color: aqua; */
    display: flex;
    place-items: center;
    height: 100%;
    padding: 0 1.3rem;
    color: whitesmoke;
    font-family: "Open Sans", "Bokor", sans-serif;
    font-size: 2.3rem;
  }
  .navigation ul li:first-child {
    background-color: rgba(213, 213, 213, 0.239);
  }
  .navigation ul li:hover {
    background-color: rgba(213, 213, 213, 0.239);
    cursor: pointer;
  }

  .mobile-nav {
    display: none;
  }
  .show-toggle {
    display: none;
  }

  .hero {
    background-color: red;
    height: 650px;
    /* margin: auto; */
    margin-top: 1.3rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: auto 30% 30%;
  }
  .hero-items {
    background-color: blue;
  }
  .hero-padding {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .hero-padding:last-child {
    padding-bottom: 0;
  }
  .hero-padding div {
    background-color: yellow;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .container-width {
    /* max-width: 1224px; */
    max-width: 82%;
    margin: unset auto;
  }
}
