@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*          1rem=10px */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", "Siemreap", sans-serif;
  font-size: 1.8rem;
}

:root {
  --text-light: rgb(143, 79, 79);
}

h1 {
  color: var(--text-light);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
span,
a {
  display: block;
}

h1,
h2 {
  font-size: 2rem;
}
